<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itmo.evastudent.mapper.EvaluationMapper">

    <resultMap id="BaseResultMap" type="com.itmo.evastudent.model.entity.Evaluation">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="evaluationName" column="evaluationName" jdbcType="VARCHAR"/>
            <result property="startTime" column="startTime" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="endTime" jdbcType="TIMESTAMP"/>
            <result property="evaluationStatus" column="evaluationStatus" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,evaluationName,startTime,
        endTime,evaluationStatus,createTime,
        updateTime,isDelete
    </sql>
</mapper>
