<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itmo.evastudent.mapper.TeacherMapper">

    <resultMap id="BaseResultMap" type="com.itmo.evastudent.model.entity.Teacher">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="teacherName" column="teacherName" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="position" column="position" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="INTEGER"/>
            <result property="major" column="major" jdbcType="TINYINT"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="nationality" column="nationality" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,teacherName,gender,
        age,position,title,
        major,email,nationality,
        createTime,updateTime,isDelete
    </sql>
</mapper>
